<h1>Seja Bem-Vindo!</h1>
<p> 
  Wallas 
</p>

<p>Seu nome de trás para frente é: <%= "Wallas".reverse %></p>

<p> A soma é: <%= 1 + 1 %></p>

<% ax = "Eu sou o texto!!!"%>
<p>Imprimindo texto da variavel ax: <%= ax %></p>

<p>A data de hoje é: <%= Date.today %></p>