<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <h1 class="container-fluid py-5"><%= t("welcome") %></h1>
  <p class="lead"><%= t('messages.welcome') %></p>
  <hr class="my-4">
  <p><%= t('messages.menu') %></p>

  <%= render "menu" %><!--renderizando a pagina _menu.thml.erb, dentro desse index-->
</div>
