<h1>Seja Bem-Vindo!</h1>

<p><strong>Data:</strong> <%= data_br(Date.today) %></p><!-- Data do dia, com data formatada -->

<ul>
  <li>
    <a href="/coins">Cadastro de Moedas HTML</a>
  </li>
  <li>
    <%= link_to "Cadastro de Moedas RUBY", coins_path %>
  </li>
</ul>